body {
	margin: 15%;
}

img {
	height: 5%;
	width: 20%;
	float: right;
	padding-left: 5%;
}

div {
	color: blue;
	text-align: right;
}
h2 {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: normal;
}
